.nightMode-enabled {
  filter: invert(100%) brightness(4) grayscale(100%);
  background-color: #f7f6f3;
  transition: 0.3s;
}

.App-header {
  display: flex;
}

.logo {
  margin: 20px;
  align-items: center;
  display: flex;
  color: #373838;
  margin-top: auto;
  margin-bottom: auto;
}

.themeChanger {
  margin: 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.themeChanger > * {
  margin: 7px;
}

.App-Body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timers {
  text-align: center;
  height: 30vh;
  width: 70vw;
}

.sharedTimer {
  font-size: 64px;
  line-height: 75px;
}

.mainButton {
  width: 200px;
  height: 42px;
  margin-top: 40px;
  background-color: #373838;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16.41px;
}
.playAndTime {
  display: flex;
  align-items: center;

  justify-content: center;
}
.playButton {
  margin: 5px;
}

.toggleSwitch {
  margin: 3px;
}
