/* TODO: for debug only */
* {
  outline: 1px red dotted;
}

.App {
  /* background-color: #282c34; */
}

.App-header {
  display: flex;
}

.logo {
  margin: 10px;
  flex: 1;
  height: 3vh;

  color: #373838;
}

.themeChanger {
  margin-left: auto;
  display: flex;
}

.App-Body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timers {
  text-align: center;
  height: 30vh;
  width: 70vw;
}

.sharedTimer {
  font-size: 64px;
  line-height: 75px;
}

.mainButton {
  width: 200px;
  height: 42px;
  margin-top: 40px;
  background-color: #373838;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16.41px;
}
